{% extends "products/base.html" %}

{% block content %}
    <section>
        <div class="container pt-5">
            <div class="text-center mt-5">
                <h1>Заказ №12345</h1>
                <div class="orders mt-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                Имя товара
                            </th>
                            <td>2</td>
                            <td>6 090,00 руб.</td>
                            <td>6 090,00 руб.</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="float-right h4 mt-3">Итого 12 180,00 руб.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}